/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse;
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Kalam', cursive;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration:none;
}
a:focus, a:active {
	color: #000;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
.center-block-main{
	max-width: 1170px; margin: 0 auto;
}
.head,  .ftr1{
    background-color: #E5E4E2;
}
    .logo{
        float: left; font-size: 2.5em; font-family: 'Sigmar', cursive; padding: 15px 0;
    }
    .ch:hover{
        color:#56aeba; font-size: 0.8em;
    }
    .logo a{
        text-decoration: none;
    }
    .links ul{
        float: right; list-style:none; padding: 20px; 
        
    }
    .links ul li{
        float: left; height: 30px; width: 30px; padding-left: 20px;
    }
    .links ul li a:hover{
        opacity: .5; transition: all 0.1s linear;
    }
    .menu{
        position: relative; overflow: hidden; 
    }
    .menu ul{
        float: left; list-style:none; position: relative; left: 50%; 
    }
    .menu ul li{
        float: left; position: relative; left: -50%; font-size: 1.5em; padding: 0 20px; margin-top: 10px; margin-bottom: 20px;
    }
    
    .menu ul li a{
        text-decoration: none; border: 2px solid transparent; border-radius: 30px; transition: all 0.1s linear; padding: 5px 10px; transition: all 0.1s linear;
    }
    .menu ul li a:hover{
        border: 2px solid #56aeba; transition: all 0.1s linear; color: #56aeba;
    }
    .unslider{overflow:auto;margin-top:50px; margin-bottom: 20px; padding:0}
    .unslider-wrap{position:relative}
    .unslider-wrap.unslider-carousel>li{float:left}
    .unslider-vertical>ul{height:100%}
    .unslider-vertical li{float:none;width:100%}
    .unslider-fade{position:relative}
    .unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
    .unslider-fade .unslider-wrap li.unslider-active{z-index:10}
    .unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
    .unslider-nav ol {
        list-style: none;
        text-align: center;
      }
      .unslider-nav ol li {
        display: inline-block; width: 30px; height: 10px; margin: 0 5px; background: transparent; border-radius: 10px;
      
        overflow: hidden;
        text-indent: -999em;
        border: 3px solid #fff;
        cursor: pointer;
      }
      .unslider-nav ol li.unslider-active {
        background: #fff;
        cursor: default;
      }
      .unslider-nav ol li:hover {
        border: 3px solid #56aeba; transition: all 0.1s linear;
       }
    .my-slider ul li img{
        height: 100%;
        width: 100%; 
    }
    .unslider-nav{
		max-width: 1170px; margin: 0 auto; position: relative; top: -40px;
	}
    .card {
        transform-style: preserve-3d;
        min-height: 300px;
        width: 45%;
        padding: 0rem 5rem;
        border: 2px solid #56aeba;
    }
    .block3-main{
        border-bottom: 2px solid #E5E4E2;
    }
        .block3-main h1{
            font-size: 1.6em; font-family:  'Sigmar', cursive; color: #000; text-align: center; margin-bottom: 20px; padding-top: 20px;
        }
        .block3-main h1 a{
            text-decoration: none;
        }
        .block3-main article{
            width: 31.6%; float: left; text-align: center; transform-style: preserve-3d;
        }
        .ar2{
            margin-left: 2.6%; transform-style: preserve-3d;
        }
        .block3-main article h2{
            padding-top: 20px;  font-size: 1.4em; font-weight: bold; color: #000; margin-bottom: 30px;
        }
        .block3-main article p{
            font-size: 1.0em; font-weight: bold; text-align: center;
        }
        .block3-main article a{
            text-decoration: none; border: 2px solid #000; padding: 0 10px; border-radius: 20px;
        }
        .block3-main article a:hover{
            border: 2px solid #56aeba; color: #56aeba;
        }
/* second list */
.portfolio{
    text-align: center; margin-top: 40px;
}
.portfolio a{
    text-decoration: none; font-size: 1.6em; font-family:  'Sigmar', cursive; color: #000; 
}

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(image/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(image/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline:none;
}

.portfolio-section {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
   
}
.portfolio-item {
    display: grid;
    min-height: 40vh ;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
}
.portfolio-item:nth-child(2) {
    grid-column: 2/4;
}
.portfolio-item:nth-child(3) {
    grid-column: 1/3;
}
.portfolio-item:nth-child(6) {
    grid-column: 2/4;
}
.portfolio-item:nth-child(8) {
    grid-column: 2/4;
}
.portfolio-item:nth-child(9) {
    grid-column: 1/4;
}

.subsribe{
	margin-top: 30px; margin-bottom: 20px; text-align: center;
}
    .subsribe h2{
        font-size: 1.4em; font-weight: bold; color: #000; padding: 20px 0; font-family:  'Sigmar', cursive;
    }
    .message-input{
        width: 90%; height: 80px; margin-bottom: 10px; border-radius: 15px; box-sizing: border-box; padding: 15px 15px; font-size: 1em; font-family: 'Kalam', cursive; border: 2px solid #E5E4E2; transition: all 0.2s linear;
    }
    .message-input:hover{
        border: 2px solid #000; transition: all 0.2s linear;
    }
    .submit-inpt{
        border: 2px solid #000; padding: 0 20px; border-radius: 20px; margin-bottom: 20px;
        height: 30px; color: #000; width: 100px; transition: all 0.2s linear; font-family: 'Kalam', cursive; font-weight: bold; cursor: pointer;
    }
    .submit-inpt:hover{
        border: 2px solid #56aeba; color: #56aeba; transition: all 0.2s linear; 
    }

.ftr p{
    float: left; padding: 25px;
}


        
